# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# PyInstaller build artifacts
build/
dist/
*.spec

# Virtual environments
venv/
env/
.venv/
.env/

# IDE files
.vscode/
.idea/
*.suo
*.user

# OS files
.DS_Store
Thumbs.db
